/* Marina Checa Cabanilles */


/* Section to set the fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Tinos&display=swap');

/* Section to set the box */

*{
    box-sizing: border-box;
}

/* Section for the background and its font, plus the box */

html{
    background-image: url(../PHOTOS/fondo_6.jpg);
}

body{
    background-color: rgb(177, 159, 197);
    padding: 30px;
    font-family: "Tinos", serif;
    border: 15px solid rgb(65, 67, 201);
    padding: 50px;
    margin: 100px;
}

/* Section for the titles */

h1{
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
}

h2{
    text-align: center;
}

h3{
    display: block;
}

.list h2{
    text-align: center;
}

.list h3{
    text-align: center;
}

/* Section to set the navigation bar */

nav ul{
    display: flex;
    flex-wrap: wrap;
    background-color: #ff3a9c
}

nav ul li{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

a{
  display: flex;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  color: black;
}

nav ul li a:hover{
    background-color: rgb(109, 0, 64);
}

.alone{
    display: flex;
    padding: 8px;
    text-transform: uppercase;
    align-items: center;
    background-color: rgb(221, 151, 192);
}

/* Section for the general images */

img{
    max-width: 100%;
    height: auto;
}

/* Section for the images of the index */

header > img{
    display:block;
    margin: auto;
}

.one > img{
    display:block;
    margin: auto;
}

/* Section for the images of the manga and anime */

.photo > img{
    float: right;
    margin: 20px;
    padding: 5px;
}

.photo_two > img{
    float: right;
    margin-left: 10px;
    padding: 5px;
}

/* Section for the unnordered lists */

ul > li{
    list-style: none;
}

/* Section for the aside at Characters */

.list{
    display: flex;
    flex-wrap: wrap;
}

.list > aside{
    flex: 1 25%;
    max-width: 25%;
    text-align: center;
}

.list > article{
    flex: 2 75%;
    max-width: 75%;
}

aside img{
    margin-top: 150px;
    margin-bottom: 5px;
    border-image-width: 5px;
    border: 2px solid black;
}

.nuriko{
    margin-top: 350px;
}

.tasuki{
    margin-top: 350px;
}

.nakago{
    margin-top: 300px;
}

/* Section to set the colors of the characters */

.mia{
    color: darkred;
}

.yui{
    color: darkblue;
}

.tama{
    color: darkred;
}

.hoto{
    color: darkred;
}

.nuri{
    color: darkred;
}

.tasu{
    color: darkred;
}

.nak{
    color: darkblue;
}

/* Section for the tables */

table, th, td{
    border:  1px solid black;
    border-collapse: collapse;
}

.flex{
    display: flex;
}

.flex table{
    margin: 10px;
}

.flex table tr td:nth-child(2){
    text-align: center;
}

/* Section to set the color of the principal titles on the tables */

.title_color_r{
    color: darkred;
}

.title_color_b{
    color: darkblue;
}

.title_color_y{
    color: rgb(131, 78, 0);
}

.title_color_g{
    color: rgb(10, 88, 10);
}

.color_r{
    color: darkred;
    margin-bottom: 5px;
}

.color_b{
    color: darkblue;
    margin-bottom: 5px;
}

.color_y{
    color:rgb(131, 78, 0);
    margin-bottom: 5px;
}

.color_g{
    color: rgb(10, 88, 10);
    margin-bottom: 5px;
}

/* Section to set the color's titles on novel's page */

.colors h3{
    color: rgb(9, 41, 129);
    text-align: center;
}

.colors a{
    color: rgb(59, 2, 36);
}

/* Section for the videos */

.videos_title{
    color: rgb(9, 41, 129);
    text-align: center;
}

.videos_one{
    display: flex;
    flex-wrap: wrap;
}

.videos_one > iframe{
    justify-content: space-between;
    max-width: 100%;
    margin-left: 20px;
    padding: 15px;
}

.videos_two{
    display: flex;
    flex-wrap: wrap;
}

.videos_two > iframe{
    justify-content: space-between;
    max-width: 100%;
    margin-left: 20px;
    padding: 15px;
}

.videos_three{
    display: flex;
    flex-wrap: wrap;
}

.videos_three > iframe{
    justify-content: space-between;
    max-width: 100%;
    margin-left: 20px;
    padding: 15px;
}

.videos_four{
    display: flex;
    flex-wrap: wrap;
}

.videos_four{
    justify-content: space-between;
    max-width: 100%;
    margin-left: 20px;
    padding: 15px;
}

/* Section to order the images of the gallery */

.section_one{
    display: flex;
    flex-wrap: wrap;
}

.section_one > img{
    margin-left: 50px;
    padding: 5px;
}

.section_two{
    display: flex;
    flex-wrap: wrap;
}

.section_two > img{
    margin-left: 10px;
    padding: 5px;
}

.section_three{
    display: flex;
    flex-wrap: wrap;
}

.section_three > img{
    margin-left: 55px;
    padding: 5px;
}

.section_four{
    display: flex;
    flex-wrap: wrap;
}

.section_four > img{
    margin-left: 200px;
    padding: 5px;
}

.section_five{
    display: flex;
    flex-wrap: wrap;
}

.section_five > img{
    margin-left: 55px;
    padding: 5px;
}

.section_six > img{
    display:block;
    margin: auto;
}

/* Section for the titles at gallery page */

.titles_change > h3{
    text-align: center;
    color: rgb(9, 41, 129);
}

/*Section to set the footer */

footer{
    background-color: rgb(247, 157, 209);
    padding: 30px;
    padding: 50px;
    margin-top: 20px;
}